<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ page.title }}</title>
    
        <link rel="stylesheet" href="/static/minimal/stylesheets/styles.css">
        <link rel="stylesheet" href="/static/minimal/stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">{{ site.title }}</a></h1>
                {{ site.tagline }}<br>
                <small>Hosted on GitHub Pages<br>
                {{ site.copyright }}</small>
                <p></p>
                <p>About Eric</p>
                <p><a href="https://www.researchgate.net/profile/Eric_Anderson26">Pubs / ResearchGate</a></p>
                <p><a href="http://scholar.google.com/citations?user=uF5dYu0AAAAJ">Pubs / Google Scholar</a></p>
        </header>

